body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
#colorface:hover{
    background:#3b5998
}

#colorIns:hover{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJSdBLVsBii4mIG5c_E8sSqc0TnkLlFquwaQ&usqp=CAU);
}

#colorWhat:hover{
    background:#00bb2d
}
.card-title{
    color: #00bb2d
}
.card-title1{
    text-align: center;
}
.col{
    margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.image1{

    height: 100%;
    margin:auto;
    display:block;


}
.card-text1{
    text-align: center;
}

.card-footer a{
    height: 100%;
    margin:auto;
    display:block;
}
